{{#> layout }}
<h2 class="text-center">Página principal</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each links }}
    <div class="col">
        <a href="{{ this.url }}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{ this.name }}
                    </h5>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</div>
{{/ layout }}
