<!DOCTYPE html>
<html data-theme="light" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de netbooks</title>
    <link rel="stylesheet" href="css/pico.min.css">
    <script defer src="js/modal.js"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Inventario</strong></li>
        </ul>
        <ul>
            <li><a href="/netbooks">Netbooks</a></li>
            <li><a href="/users">Usuarios</a></li>
            <li><a href="/addresses">Direcciones</a></li>
            <li><a href="/issues">Asuntos</a></li>
        </ul>
    </nav>
    <main class="container">
        {{> @partial-block }}
    </main>
    <footer class="container">
        <p>Construido con express.js y pico.css</p>
    </footer>
</body>
</html>
