<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de notebooks</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script defer src="js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <h1 class="mt-1 text-center">Inventario</h1>
            {{> @partial-block }}
        </div>
    </main>
    <footer class="text-center">
        Esto es el footer
    </footer>
</body>
</html>
